html, body{
	height: 100vh;
}

#logo{
	height: 100%;
	padding: .5em 1em ;
	background: #263238;
	font-size: 120%;	
	-webkit-transition: background-color .3s;

}

#logo:hover{
	background-color: #455a64  ;
}

#logo a:hover{
	color: #FFF;
}

nav{
	background: #263238;
	display: inline;
}

nav a{
	color: #FFF;
	text-decoration: none;
	font-size: 150%;
	cursor: pointer;
}

#nav-btns a{
	color: #fff;	
	-webkit-transition: color .3s;

}

#nav-btns a:hover{
	color: #fff !important;	
}

#nav-btns{
	padding: .5em  3em;
	min-width: 60vw;
	background: black;
	float: right;
}

#nav-btns a{
	padding: 0em .5em ;
	float: right;
	font-size: 180%;
	height: 100%
}

.landing{
	background: #f5f5f5;
	min-height: 75vh;
	font-size: 150%;
	padding-bottom: 4em;
	padding-top: 25vh;
}

.landing  img,
 .landing  h2,
  .landing  p,
   .landing  a,
    .landing  input,
     .landing  label,
      .landing  select{
	opacity: 0;
}

.visible{
	opacity: 1 !important;
}
.course-logo{
	max-width: 200px;
	height: auto;
}

.com-logo{
	max-width: 400px;
	height: auto;
}

.button{
	background-color: #FFF;
	
}

.button:hover{
	color: #FFF;
}

#form{
	padding-top: 15vh;
	height: 85vh;
}

#form h2{
	padding: .5em;
	background: #f5f5f5;
}

.button-primary{
	margin-top: 1.5em;
}

#canvas{
	display: block;
	width: 100%;
	min-height: 80vh;
	height: auto;
}

#article-container{
	padding-top: 8em;
	position: relative;
	width: auto;
	flex-direction: column;
	margin-left: 3%;
	margin-right: 3%;
}

.article-heading{
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 240%;
	display: block;
	padding: .1em .6em;
	border: 1px solid #263238;
	border-radius: 5px 5px;
	-webkit-transition: color .4s;
	-webkit-transition: background-color .4s;
	-webkit-transition: border-radius .4s;
	cursor: pointer;
}

.article-heading:hover{
	color: #FFF;
	background-color: #263238;
	border-color: #263238;

}

.blue-back{
	width: auto;
	height: auto;
	display:block;
	overflow:auto;
	color: #FFF;
	font-size: 150%;
	background-color: #263238;
	border-color: #263238;
	padding: .6em 1em;
	border: 1px solid #263238;
	border-radius: 0px 0px 5px 5px ;
	margin-bottom: 3px;
	-webkit-transition: color .4s;
	-webkit-transition: background-color .4s;
}

.blue-back:hover{
	color: #FFF;
	background-color: #263238;
	border-color: #263238;
}

#article-body{
	max-width: 40vw;
	height: auto;
	background-color: #263238;
	padding: .5em 1em;
	border: 1px solid #263238;
	border-radius: 5px;
	background-color: #263238;
	color: white;
	z-index: 1;
	display: relative;
	font-size: 120%;
}

.hide{
	display: hidden !important;
}

.softwareCard-container{
	max-width: 15em;
	border: 1px solid #263238;
	border-radius: 4px;
	vertical-align: middle;
	margin: 1em .6em !important;
}

.card-image{
	min-width: 15em;
}

.card-image img{
	height: auto;
	margin-top: 1em;
	margin-right: 3em;
	margin-left: 3em;
	margin-bottom: .5em;
	align-items: center;
	width: 9em;
}

.card-text{
	width: auto;
	height: 100%;
	background: black;
	color: white;
	z-index: 0;
	padding:1em;
	padding-top: 1em;
}

.card-heading{
	width: auto;
	font-size: 150%;
	z-index: 1;
	padding-left:.3em;
	line-height: 1em;
	border-bottom: 1px solid #f2f2f2;
}

card-link{
	font-size: 100%;
	z-index: 1;
	padding: .3em;
	line-height: 10px;
	color: #f5f5f5;
	-webkit-transition: background-color .3s;
	-webkit-transition: color .3s;

}

card-link:hover{
	background-color: #b0bec5;
	color: black;
	cursor: pointer;
}

footer{
	color: white;
	background: black;
	width: 100%;
	text-align: right;
	margin-top: 1em;
}

#footer-content{
	margin: .2em 1em;
	padding: .5em;
	font-size: 100%;
	margin-bottom: 0px !important;
}

@media screen and (max-width:750px){

	html, body{
		min-height: 100vh;
		width: 100vw;
	}

	nav{
		width: 100vw;
		display: block;
	}

	nav a{
	height: 100%;
	color: #FFF;
	text-decoration: none;
	font-size: 120%;
	cursor: pointer;
	display: inline;
}

#logo{
	display: inline;
	height: 100%;
}
 
	#article-container{
	display: relative;
	z-index: 1;
	margin-bottom: 1.4em;
	}

	#article-body{
	display: relative;
	z-index: 1;
	margin-bottom: 1.4em;
	width: 80vw;
	margin-left: 0px;
	margin-right: 0px;
	}

	.article-heading{
	display: relative;
	width: 80vw;
	margin: 3px 0px;
	cursor: pointer;
	}




}