html, body{
	height: 100vh;
}

#logo{
	padding: .5em 1em ;
	background: #263238;
	-webkit-transition: background-color .3s;
	height: inherit !important;

}

#logo:hover{
	background-color: #455a64  ;
	color: #FFF;
}

nav{
	background: black;
}

nav a{
	color: #FFF;
	text-decoration: none;
	font-size: 240%;
	cursor: pointer;
}

#nav-btns a{
	color: #FFF;	
	-webkit-transition: color .3s;

}

#nav-btns a:hover{
	color: #b0bec5 !important;	
}

div#nav-btns{
	padding: .5em  3em;
	height: 100%;
	background: black;
}

#nav-btns a{
	padding: 0em .5em ;
	float: right;
	height: 100%
}

#canvas{
	margin-top: 5em;
	margin-bottom: 2em;
	display: block;
	width: 80vw;
	margin-left: 10VW;
	margin-right: 10vw;
	min-height: 80vh;
}

#article-container{
	position: relative;
	flex-direction: column;
}

.one-half .column{
	min-width: 437px;
}

article-heading{
	min-width: 350px;
	font-size: 240%;
	display: block;
	padding: .1em .6em;
	border: 1px solid #263238;
	border-radius: 5px;
	margin-bottom: 3px;
	-webkit-transition: color .4s;
	-webkit-transition: background-color .4s;
}

article-heading:hover{
	color: #FFF;
	background-color: #263238;
	border-color: #263238;
}

#article-body{
	height: auto;
	min-width: 350px;
	background-color: #263238;
	padding: .5em 1em;
	border: 1px solid #263238;
	border-radius: 5px;
	background-color: #263238;
	color: white;
	z-index: 1;
	display: relative;
	font-size: 170%;
}

.hide{
	display: hidden !important;
}

.softwareCard-container{
	max-width: 15em;
	border: 1px solid #263238;
	border-radius: 4px;
	vertical-align: middle;
	margin: 1em .6em !important;
}

.card-image{
	min-width: 15em;
}

.card-image img{
	height: auto;
	margin-top: 1em;
	margin-right: 3em;
	margin-left: 3em;
	margin-bottom: .5em;
	align-items: center;
	width: 9em;
}

.card-text{
	width: auto;
	height: 100%;
	background: black;
	color: white;
	z-index: 0;
	padding:1em;
	padding-top: 1em;
}

.card-heading{
	width: auto;
	font-size: 150%;
	z-index: 1;
	padding:.3em;
	line-height: 1em;
	border-bottom: 1px solid #f2f2f2;
}

card-link{
	font-size: 100%;
	z-index: 1;
	padding: .3em;
	line-height: 10px;
	color: #f5f5f5;
	-webkit-transition: background-color .3s;
	-webkit-transition: color .3s;

}

card-link:hover{
	background-color: #b0bec5;
	color: black;
	cursor: pointer;
}

footer{
	color: white;
	background: black;
	width: 100%;
	text-align: right;
}

#footer-content{
	margin: .2em 2em;
}

@media screen and (max-width:750px){

	html, body{
		min-height: 100vh;
		min-width: 100vw;
	}

	nav{
		width: 100vw;
	}
 
	#article-container{
	display: relative;
	min-width: 350px;
	z-index: 1;
	}

	#article-body{
	display: relative;
	min-width: 350px;
	z-index: 1;
	}


}